/*IMPORTS*/
@import url("font-family: 'Open Sans', sans-serif;");
@import url("font-family: 'Bebas Neue', cursive;");
@import url("font-family: 'Raleway', sans-serif;");
@import url("font-family: 'Shippori Antique', sans-serif;");
@import url("font-family: 'Comforter', cursive;");

*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;
}

/*BODY*/
body {
    background: rgb(255, 255, 255);
    /*rgb(224, 213, 212)*/
}


/*LOGO*/
.logo {
    color:#ffff;
    font-size: 35px;
    padding: 0 80px;
    font-weight: bold;
}


/*MENU*/
.menu {
    background-color: rgba(10, 56, 156, 0.7);
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    box-shadow: 5px 0 10px rgba(0, 0 , 0, .6);
}

/*Inicio*/
.Inicio {
    width: 100%;
    height: 100%;
    max-width: 11000px;
    margin: auto;
    padding: 70px;
    background: rgb(217, 235, 254);
    margin-top: 100px;
    border-top: 6px solid rgb(0, 0, 0);
}
.Inicio img{
    width:300px;
    display: block;
    width: 300px;
    padding: 20px;
    /*margin: auto;*/
}
/**/
.Inicio h1{
    padding:30px;
    /*text-align: center;*/
    font-size: 35px;
    padding: 30px;
    margin-top: 10px;
    font-family:'Shippori Antique', sans-serif;
}

.Inicio h2{
    padding:0px;
    /*text-align: center;*/
    font-size:25px;
}

.Inicio h3{
    padding:0px;
    /*text-align: center;*/
    font-size:22px;
    margin-top: 10px;
    font-family:'Shippori Antique', sans-serif;
}

/*OTRAS_ETIQUETAS*/
ul.show {
    top: 65px;
}

